<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask thingyy</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-200 p-10 text-center">
    <h1 class="text-4xl text-center font-bold">Lock in your virtual diary</h1>
    <h3>This is {{ user_name }} your favourite person (diary)
    </h3>
    <form action="/submit" method="post">
        <div class="flex flex-col gap-4 max-w-[50vw] mx-auto mt-6">
            <input type="text" name="inp1" class=" p-2 rounded" placeholder="Type the heading...">
            <input type="text" name="inp2" class="p-2 rounded" placeholder="Type some subheading...">
            <textarea name="textbox" id="text1" placeholder="Enter Whatever is in your MIND!!!"></textarea>
            <button id="submit1" class="bg-red-500 text-white p-2 rounded" type="submit">Submit this entry</button>
        </div>
    </form>
    <a href="/all">

        <button class="bg-green-500 w-[50vw] text-white mt-8 p-2 rounded">See all entries</button>
    </a>
    <h3 class="text-2xl font-bold mt-8">Surprise</h3>
    <p>Click below for a very special surprise ( you will love this )</p>
<button class="bg-blue-500 text-white p-2 rounded" type="button" onclick="document.getElementById('surprise1').style.display='block'">Click me for a surprise!</button>
    <div id="surprise1" class="hidden bg-cyan-700 ">

<iframe width="780" height="415" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=sga0QM66uR02u4g-&amp;controls=0&amp;autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></body>
</html>
