<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask thingyy</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1 class="text-4xl font-bold">Flask thingyy</h1>
    <h3>This is {{ user_name }}</h3>
    <p>This is a cool flask app</p>
    <form action="/submit" method="post">
    <input type="text" name="inp1" class="p-2 rounded" placeholder="Type your name...">
    <input type="text" name="inp2" class="p-2 rounded" placeholder="Type something you want to save...">
    <textarea name="textarea" id="text1">Enter MORE!!!</textarea>
    <button id="submit1" type="submit">Submit</button>
    </form>
</body>
</html>
